.aboutMeText {
  display: flex;
  padding: 5px 70px 5px 70px;
  font-size: 120%;
  color: #201E1F;
  margin: 20px;
  text-indent: 30px;
}

.faIcon {
  font-size: 500%;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #FF4000;
}

.imageContainer {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
}

.portfolioPicture {
  width: 300px;
  height: auto;
  border-radius: 25%;
  object-fit: cover;
  object-position: center top;
  padding: 10px;
}