:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #F2F8F5;
}

.pageTitleContainer {
  display: flex;
  justify-content: center;
}
.pageTitle {
  padding: 20px 10px 5px 10px;
  font-size: 200%;
  color: #201E1F;
  display: inline-block;
  justify-content: center;
  border-bottom: solid;
}