:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: lightblue;
}

.pageTitle {
  padding: 10px 10px 10px 10px;
  font-size: 200%;
  color: lightblue;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 172);
  border-radius: 0px 0px 10px 10px;
}