.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  background-color: darkblue;
  box-shadow: 5px 5px 10px 0px white;
}

h2 {
  color: lightblue;
  font-size: 150%;
  padding: 10px 10px 10px 10px;
}

.navbar-links {
  display: flex;
  text-decoration: none;
}

.nav-link-item {
  text-decoration: none;
  display: flex;
  padding: 10px;
  font-size: 150%;
  color: lightblue;
}