.resumeBodyContainer {
padding: 20px 0px 20px 90px;
}

.downloadResume {
  padding: 10px;
  color: #201E1F;
}

.downloadResume a {
  text-decoration: none;
  color: #201E1F;
}

.downloadResume a:hover {
  color: #FF4000;
}

.resumeTitle {
  display: inline-block;
  font-size: 175%;
  padding: 10px 0px 0px 0px;
  margin-left: 10px;
  color: #201E1F;
  border-bottom: solid;
}

.resumeUl {
  list-style-type: disc;
  padding: 20px 0px 20px 30px;
  color: #201E1F;
}

.resumeLi {
  font-size: 125%;
  padding: 5px 20px 5px 5px
}